/*オリジナルCSS始め*/ 
    
/*画面に応じてサイズ変更*/   
@media screen and (min-width:980px) {
    .mainContents{
        display: block;
        width: 70%;

    }
    .subContents{
        display: block;
    }
}

@media screen and (max-width:979px) {
    .mainContents{
        display: block;
        width: 100%;

    }
    .subContents{
        display: none;
    }
}

.originalContents h1{
    margin-left: 10px;
    border-bottom: 5px solid gray;
}


.subContents h4{
    font-size: 130%;
    margin-top:10px;
    margin-bottom:0px;
    padding:5px;
    text-align: center;
    border-top: 3px solid gray;
}

/*ここから左側のコンテンツ*/

h2.header{
    font-size: 185%;
    border-left:15px solid gray;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    clear: left;    /*毎度回り込みを戻す*/
}

h3.header{
    color: white;
    background-color: gray;
    font-size: 130%;
    padding: 5px;
}

h4.header{
    position: relative;
    padding: .5em .75em;
    background-color: #f0f0f0;
    border-radius: 6px; 
    margin-bottom: 17px;
}
h4.header::after {
  position: absolute;
  top: 100%;
  left: 30px;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 15px solid #f0f0f0;
}

.originalContents ul{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    list-style-type: none;
}

.breadList li{
    display: inline-block;
}

.abstract p{
    margin-left: 10px;
    font-size: 20px;
}

.largeImage img{
    /*display: block;*/
    /*画像サイズ変える*/
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;

}
.smallImage img{
    width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
}

.text{
    font-size: 18px;
}

/*リンク先（かっこよくする）*/
.internalLink{
    text-align: center;
    font-size: 30px;
    background-color: #DCDCDC;
    text-decoration: none;
    border: 1px solid #999;
    list-style: none;
    margin: 15px;
}

/*twitterの口コミを中央に表示*/
twitterwidget,
iframe[id^="twitter-widget-"] {
  margin-left: auto;
  margin-right: auto;
}

/*youtubeの動画サイズ変更*/
.video{
    position: relative;
    overflow: hidden;
    height: 0px;
    padding: 30px 0 56.25%;
    margin-bottom: 30px;
}

.video iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.video video {
	max-width: 100%;
	height: auto;
}

/*表を見やすく*/
.spTable{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;

}

.spTable thead th {
    
    padding: 10px
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #04162e;
    
}

.spTable td {
    width: 30%;
    padding: 10px;
    vertical-align: top;
}

/*偶数項目だけ色を変える*/
.spTable tr:nth-child(even)  {
    background: #f3f6f7;
}





/*ここから右側のコンテンツ*/

.subContents h3{    
    text-align: center;
    margin-top: 5px;
}

.price{
    text-align: right;
}

.rankingBox{
    position: absolute;
    background-color:#DCDCDC;
    top: 290px;
    right:10%;
    width: 20%;
    padding: 10px;
    border: 3px solid gray;
}

.recommendBox{
    position: absolute;
    background-color:#DCDCDC;
    right:10%;
    width: 20%;
    margin: auto;
    padding: 10px;
    border: 3px solid gray;
}

.recommendBox img{
    margin-top: 20px;
}

.productBox{
    position: absolute;
    background-color:#DCDCDC;
    right:10%;
    width: 20%;
    padding: 10px;
    border: 3px solid gray;
}
    
/*オリジナルCSS終わり*/