/*オリジナルCSS始め*/ 
    
/*画面に応じてサイズ変更*/   
@media screen and (min-width: 1100px) {
    .mainContents{
        display: block;
        width: 70%;

    }
    .subContents{
        display: block;
    }
}

@media screen and (max-width: 1099px) {
    .mainContents{
        display: block;
        width: 100%;

    }
    .subContents{
        display: none;
    }
}

.originalContents h1{
    margin-left: 10px;
    border-bottom: 5px solid gray;
}


.originalContents h2{
    font-size: 185%;
    border-left:15px solid gray;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    clear: left;    /*毎度回り込みを戻す*/
}

.originalContents h3{
    color: white;
    background-color: gray;
    font-size: 130%;
    padding: 5px;
}

.originalContents h4{
    font-size: 130%;
    margin-top:10px;
    margin-bottom:0px;
    padding:5px;
    text-align: center;
    border-top: 3px solid gray;
}

.originalContents ul{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 30px;
}

/*ここから左側のコンテンツ*/

.breadList li{
    display: inline-block;
}

.abstract p{
    margin-left: 10px;
    font-size: 20px;
}

.index h3{
    padding:5px;
    display: inline;
}

.mainImage img{
    /*display: block;*/
    /*画像サイズ変える*/
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;

}
.subImage img{
    width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
}

.mainText{
    clear: left;    /*毎度回り込みを戻す*/
    font-size: 18px;
}

.subText{
    font-size: 18px;
}

/*ここから右側のコンテンツ*/

.subContents h3{
   text-align: center;
   margin-top: 5px;
}

.price{
    text-align: right;
}

.rankingBox{
    position: absolute;
    background-color:#DCDCDC;
    top:7%;
    right:10%;
    width: 20%;
    padding: 10px;
    border: 3px solid gray;
}

.recommendBox{
    position: absolute;
    background-color:#DCDCDC;
    /*ランキングのコンテンツ量に応じて位置変更*/
    top:<{$seller_num*8+10}>%;
    right:10%;
    width: 20%;
    margin: auto;
    padding: 10px;
    border: 3px solid gray;
}

.recommendBox img{
    margin-top: 20px;
}

/*youtubeの動画サイズ変更*/
.video{
    position: relative;
    overflow: hidden;
    height: 0px;
    padding: 30px 0 56.25%;
    margin-bottom: 30px;
}

.video iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
    
/*オリジナルCSS終わり*/

@charset "euc-jp";

#page-wrapper {
  position: relative;
}
#wrapper {
}
#container {
  clear: both;
}
.container {
  max-width: 934px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #ccc;
  background-color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: rgba(82, 168, 236, 0.8);
}

.muted {
  color: #999;
}

body {
  color: <{$font_color}>;
  background-color: <{$page_bgcolor}>;
  background-image: url(<{$page_bgimg}>);
}

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: <{$link_normal}>;
}
a:hover{
  color: <{$link_hover}>;
  text-decoration: none;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

h2 {
  margin: 2em 0;
  text-align: left;
  font-size: 15px;
}
  .ttl-h2 {
    padding: 0 1.4%;
  }

.btn-01 {
  border: 1px solid <{$btn_bgcolor}>;
  background-color: <{$btn_bgcolor}>;
  color: <{$btn_font_color}>;
  *background-color: <{$btn_bgcolor}>;
  width: 100%;
  border-radius: 0;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin: 30px 0 0;
  padding: 20px 0;
  display: block;
}
.btn-01:hover,
.btn-01:focus,
.btn-01:active,
.btn-01.active,
.btn-01.disabled,
.btn-01[disabled] {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: <{$btn_bgcolor_hover}>;
  color: <{$btn_font_color}>;
  *background-color: <{$btn_bgcolor_hover}>;
}

/* レイアウト用 */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}


/*
 * web font
 */
.google-font {
  text-transform: uppercase;
  letter-spacing: .6px;
  font-weight: 400;
  font-family: 'Sintony', sans-serif;
}
  .google-font.fwb {
    font-weight: 700;
  }

/*
 * header
 */
#header-wrapper {
  padding: 0 1.4%;
}
#header-top{
  padding: 0.5em 0.5em;
}
#header-top .col{
  padding: 0;
}
.header-link a {
  color: #aaa;
}
  .header-link a:hover span {
    color: #444;
    text-decoration: none;
  }
.header-link i {
  vertical-align: middle;
}

/* header-line-nav */

.header-line-nav {
  text-align: right;
  vertical-align: middle;
}
  .header-line-nav .inline{
    margin: 0;
    vertical-align: middle;
  }
  .header-line-nav .inline li {
    padding: 0;
    margin-left: 25px;
    position: relative;
    vertical-align: middle;
  }
  .header-line-nav a {
    cursor: pointer;
    display: block;
  }
  .header-line-nav span {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 12px;
    padding: 0 0 0 7px;
  }

.view-cart {
  position: relative;
  top: -6px;
  left: 50px;
  padding-top: 0 !important;
}
.cart-count {
  font-size: 17px;
  padding: 0 0 0 7px;
  vertical-align: -2px;
}
.btn-viewcart {
  padding: 1px 15px 0 13px;
}

/* header logo */

.shop-logos {
  margin: 3.5em 0 0;
  min-width: 10%;
  max-width: 100%;
}
.shop-name {
  margin: 0;
  font-size: 21px;
  line-height: 1.6;
  max-width: 15%;
}
  .shop-name a{
    color: #444;
    text-decoration: none;
    display: block;
  }
    .shop-name a:hover{
      color: #aaa;
    }
	.shop-name a img{
        /*max-width: 15%;*/
	}
.shop-description {
  font-size: 13px;
  font-weight: normal;
  color: <{$font_color}>;
  margin: 0;
}

/* header global nav */

#header-global-nav {
  padding: 1.8em 0 1.2em;
  text-align: left;
  font-size: 15px;
  clear: both;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
  #header-global-nav .inline > li {
    padding: 0 1.8em 0 0;
  }
  #header-global-nav .inline a {
    text-decoration: none;
    color: #aaa;
  }
    #header-global-nav .inline a:hover {
      text-decoration: none;
      color: #444;
    }

/* incart delivery */
.incart-delivery {
  text-align: left;
  margin: 3.5em 0 0;
}
  .incart-delivery ul {
    margin: 0;
    list-style: none;
    font-size: 11px;
  }

/*
 * product list
 */
.prd-lst-unit {
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  padding: 0;
  margin: 0 0 3.4%;
}
.prd-lst-link{
  display: block;
  color: #fff;
  max-width: 100%;
  padding: 0 3.2%;
}
.unit-inner{
  width: 100%;
  height: 100%;
  position: relative;
  clear: both;
}
.prd-lst-cap {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.prd-lst-cap-inner{
  padding: 15px;
}
.prd-lst-img {
  display: block;
}
span.prd-lst-span {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  margin: .3em 0;
  font-size: 13px;
  color: #fff;
  width: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  filter: alpha( opacity=0 );
  opacity: 0;
  * display: none;
}
.prd-lst-regular {
  text-decoration: line-through;
}
.prd-lst-discount {
  color: #FFF;
  font-weight: bold;
}
.unit-inner:hover .prd-lst-cap{
  background: url("https://img.shop-pro.jp/tmpl_img/74/blur.png");
  background-repeat : repeat;
  background-position: left;
}
.unit-inner:hover span.prd-lst-span{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  filter: alpha( opacity=100 );
  opacity: 1;
  * display: block;
}

/* product list sort */
.prd-lst-sort {
  margin: 28px 0;
  color: <{$font_color}>;
  text-align: right;
  font-size: 13px;
}
.prd-lst-sort a{
  color: #aaa;
}
.prd-lst-sort a:hover{
  color: #444;
}

/* prduct list pager */
.prd-lst-pager {
  padding: 30px 0 20px;
  text-align: center;
}
  .prd-lst-pager .inline li {
    padding: 0 1.4%;
  }
    .prd-lst-pager .inline li span {
     color: #ddd;
    }
    .prd-lst-pager .inline li a {
      color: #444
    }
      .prd-lst-pager .inline li a:hover {
        color: #aaa;
      }
.prd-lst-pos b {
  font-size: 18px;
  font-weight: normal;
}

/*
 * product
 */
.product-image-thumb img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  filter: alpha( opacity=50 );
  opacity: 0.5;
}
.thumb-active img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
  filter: alpha( opacity=100 );
  opacity: 1;
}
#header-logo{
	text-align:center;
}

/* freepage */
.freepage {
  word-break: break-all;
  padding: 2em 0;
}
  .freepage img {
    max-width: 100%;
    width: inherit;
    height: auto;
  }

/*
 * footer
 */

#footer-wrapper {
  margin-top: 30px;
  padding: 0 1.4%;
}

/* footer nav */
.footer-top{
  border-top: 1px solid #ddd;
}
.footer-nav {
  list-style: none;
  margin: 0;
}
  ul.footer-nav > li {
    margin: 1em 2.5% 1em 0;
    padding-left: 0 ;
  }
.footer-primary {
  padding-top: 16px;
}
  .footer-primary a {
    color: #444;
  }
    .footer-primary a:hover {
      color: #aaa;
    }
.freepage-nav {
  margin-bottom: 1.5em;
  padding-bottom: .8em;
  border-bottom: 1px solid #ddd;
}
.footer-secondary {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 18px;
}
  .footer-secondary li {
    margin-right: 2.5%;
  }
  .footer-secondary a {
    color: #aaa;
  }
    .footer-secondary a:hover {
      color: #444;
    }

/* footer-bottom */
.footer-bottom{
    padding: 2.5em 0 1.5em;
}

/* social icon */
.social-nav {
  text-align: right;
  margin: -4px 0 0 0;
  padding: 0;
}
ul.social-nav > li {
  padding-right: 0;
  vertical-align: bottom;
}

/* copyright */
.copyright {
  text-align: left;
  font-size: 12px;
  padding: 0;
  word-break: break-word;
}
  .copyright a{
    color: #aaa;
  }
    .copyright a:hover{
      color: #444;
    }
  .copyright a.powered{
      visibility : hidden !important;
  }
  .copyright span{
    float: left;
    margin: 0 15px 0 0;
  }

 .powered {
  visibility : hidden !important;
  display: none !important;
  width: 180px;
  height: auto;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
}

a.powered img{
   visibility : hidden !important;
}
  

/*
 * slider
 */
.slider {
  margin-top: 2em;
  padding: 0 1.4%;
  position: relative;
}
.bx-viewport {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  left: 0 !important;
  border: none !important;
}
#slider div {
  width: 100% !important;
}

/*
 * info & freespace
 */
.info, .free-space{
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}
  .info .col , .free-space .col {
    padding: 0 1.4%;
  }

/*
 * search
 */
  .srh-header {
  padding: 0 0.5%;
}

/* pagetop */
#pagetop {
  position: fixed;
  right: 0;
  bottom: 100px;
  display: none;
}
.btn-pagetop {
  background: <{$btn_bgcolor}>;
  display: block;
  text-align: center;
  width: auto;
  padding: 17px;
  border: solid 1px #ddd;
}


@media (max-width: 980px) {
  #base_gmoWrapp,
  #gmo_CMSPbar {
    overflow: hidden;
    min-width: 100% !important;
    width: 100% !important;
  }
  .container {
    max-width: 900px;
    width: 90%;
  }
  .col-ex-size{
    width: 48.25%;
  }
  a.powered{
    visibility : hidden !important;
    float: none;
    margin: 1em auto 0;
  }
}
@media (max-width: 768px) {
  #wrapper {
    padding: 3em 1.4em 0;
  }
  .container {
    width: auto;
  }
  #header-wrapper{
    padding: 0 .1%;
  }
  #header-top{
    padding: 2.2em 0 1.5em;
   }
  .shop-logos{
     margin: 0;/* 2.5em 0 0 ; */
   }
  .shop-name{
    padding: 0 1%;
    text-align: left
  }
  .header-dropdown {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
  }
  .header-dropdown.affix {
    position: fixed;
  }
    .header-dropdown .dropdown-nav li {
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
    .header-dropdown .dropdown-nav a {
      display: block;
      padding: 12px;
      color: #444;
    }
    .header-dropdown .btn-dropdown {
      padding-left: 34px;
      font-size: 15px;
      line-height: 1.6;
    }
    .header-dropdown .btn-dropdown-close {
      background: #ddd;
    }
  .view-cart {
    position: static;
  }
    .view-cart a {
      background-color: <{$btn_bgcolor}>;
      color: <{$btn_font_color}>;
    }
    .view-cart span {
      display: block;
      width: 130px;
      margin: 0 auto;
    }
  .incart-delivery {
    margin: 0 0 1em;
  }
  .ttl-h2 {
     padding: 0 1.3%;
   }
  .prd-lst-cap{
    position: static;
    background: transparent;
    background-image: none;
  }
    .unit-inner:hover .prd-lst-cap{
      background: transparent;
      background-image: none;
    }
    span.prd-lst-span{
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
      filter: alpha( opacity=100 );
      opacity: 1;
      * display: block;
      color: <{$font_color}>;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
    }
    .unit-inner:hover span.prd-lst-span{
      color: <{$font_color}>;
    }
  .prd-lst-cap-inner {
    position: static;
    padding: 15px 0;
  }
  .prd-lst-sort {
    font-size: 13px;
  }
  .footer-primary,
  .footer-secondary {
    padding: 0;
    border: none;
  }
  .freepage-nav{
    border-bottom: none;
  }
  .footer-nav {
    margin: 0;
    padding: 0;
  }
    .footer-nav li {
      margin: 0;
      font-size: 13px;
      border-bottom: 1px solid #ddd;
    }
    ul.footer-nav > li{
      margin: 0;
    }
      .footer-nav li:before {
        display: none;
      }
    .footer-nav a {
      display: block;
      padding: 1em 0;
      font-size: 13px;
    }
      .footer-nav a:hover {
        text-decoration: none;
      }
  .footer-bottom{
     padding: 1em 0 1.5em;
   }
  .copyright{
    text-align: center;
    margin: 0;
  }
  .copyright span{
    float: none;
  }
  a.powered{
    visibility : hidden !important;
    float: none;
    margin: 1em auto 0;
  }
  .social-nav{
    text-align: center;
    margin: 1.5em 0 0 ;
  }
  ul.social-nav > li{
    padding: 0 1%;
  }
  .slider {
    padding: 0 .1%;
  }
}
@media (max-width: 480px) {
  .prd-lst-unit {
    margin-bottom: 1.4em;
    height: auto !important;
  }
  .prd-lst-link {
     padding: 0 2.1%;
   }
  .prd-lst-unit .prd-lst-cap{
    display: block;
    top: 0;
    left: 0;
  }
  .prd-lst-sort{
    text-align: left;
    margin: 0 0 3em;
  }
  a.powered{
    visibility : hidden !important;
    float: none;
    margin: 1em auto 0;
  }
}

/* IE */
.ie_wrapper.container {
  width: 900px;
  overflow: auto;
}

/* icons */

.icon-b {
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  *display: inline;
  *zoom: 1;
}
.icon-b {
  background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon16_b.png);
}
.hov-li:hover .icon-b {
  background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon16_b_hover.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon-b {
    -webkit-background-size: 368px 320px;
    background-size: 368px 320px;
  }
  .icon-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon16_2x_b.png);
  }
  .hov-li:hover .icon-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon16_2x_b_hover.png);
  }
}

.icon-user { background-position: -208px -0px; }
.icon-login { background-position: -48px -80px; }
.icon-adduser { background-position: -240px -0px; }
.icon-logout { background-position: -32px -80px; }
.icon-cart { background-position: -176px -64px; }
.icon-twitter { background-position: -96px -176px; }
.icon-facebook { background-position: -128px -176px; }
.icon-instagram { background-position: -112px -192px; }
.icon-mail { background-position: -64px -0px; }

.icon-lg-b {
  width: 24px;
  height: 24px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.icon-lg-b {
  background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon24_b_hover.png);
}

a.powered{
    visibility : hidden !important;
    float: none;
    margin: 1em auto 0;
  }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon-lg-b {
    background-image: url(https://img.shop-pro.jp/tmpl_img/74/icon24_2x_b_hover.png);
  }
  .icon-lg-b,
  .icon-lg-w {
    -webkit-background-size: 552px 480px;
    background-size: 552px 480px;
  }
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.title_area {
text-align:center !important;
margin: 0 auto;
/*padding-left:0 !important;*/
}

a.powered{
    visibility : hidden !important;
    float: none;
    margin: 1em auto 0;
  }

.icon-lg-b.icon-list { background-position: -288px -144px; }
.icon-lg-b.icon-chevron_up { background-position: -0px -216px; }
.icon-lg-b.icon-cart { background-position: -264px -95px; }
.icon-lg-b.icon-circled_minus { background-position: -216px -120px; }
.icon-lg-b.icon-paper_plane { background-position: -120px -0px; }

